@import 'markdown.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    @apply relative m-0 box-border font-normal;
  }

  body {
    @apply min-h-screen bg-neutral-900 text-sm text-neutral-200 transition-colors duration-700;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Fira Sans', sans-serif;
  }
}
